{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
<h1>Edit Task</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p>
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br>
        {{ field }}
        {% if field.errors %}
        <br><span style="color:red;">{{ field.errors.0 }}</span>
        {% endif %}
    </p>
    {% endfor %}
    <button type="submit" class="btn">Update Task</button>
    <a href="{% url 'task_list' %}" style="margin-left:10px;">Cancel</a>
</form>
{% endblock %}